@import "vars";
@import "post";

body {
  font-family: 'Droid Sans', sans-serif;
  color: #444;
  background: #FAFAFA;
}

.main {
  padding: 0 6em;
  text-align: center;

  .title {
    font-size: 3rem; 
  }
}

a {
  text-decoration: underline;
  color: #444;

  &:hover {
    text-decoration: underline;
    color: #444;
  }
}

.char {
  display: inline;
  
  .char-name {
    font-size: 1.5rem;
  }

  .char-desc {
    font-size: 1rem;
  }

  .char-info {
    font-size: 1rem;
    font-style: italic;
  }
}

.option {
  padding: 0.5em 6em;

  p {
    border: 0.1em #444 solid;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 1em 0.5em;
    font-size: 1.5rem;

    a {
      text-decoration: none;
    }
  }
}

.strapline {
  font-style: italic;
  font-size: 1.1rem;
}