.recap {
  padding: 0.5em 6em;
  text-align: left;

  div {
    border: 0.1em #444 solid;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 1em 0.5em;
  }

  h1 {
    font-size: 1.8rem;
    margin: 0.5em 0.2em;
  }

  p {
    margin: 0.2em;    
    font-weight: bold;
  }
}

.recap-full-post .info {
  margin: 0.5rem;
  font-weight: bold;
}