

.main-site {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  background-color: #f6f6f6;

  .site-wrapper {
    margin:40px auto;
    max-width:800px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2, h3 { line-height: 1.4; }
  
  h2, h3 a { color: #333; }
  
  p {
    display: inline-block;
    color: #444;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #444;
  }
  
  a:hover { text-decoration: underline; }
  
  button {
    font-family: 'Lora', serif;
    font-size: 0.8rem;
  
    background-color: #ababab;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  button:hover { text-decoration: underline; }
  
  .text-input {
    display: inline-block;
  
    font-size: 1.25rem;
  
    border: 0.1em solid #ababab;
    border-radius: 0.2em;
    text-decoration: none;
  
    width: 5em;
  }
  
  input {
    margin-left: 4em;
  
    font-family: 'Lora', serif;
    background-color: #f6f6f6;
  }
  
}