@import "post";

.main-stars {
  font-family: 'Droid Sans', sans-serif;
  color: #444;
  background: #F0F0F0;

  .stars-wrapper {
    padding: 0 6em;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #444;

  &:hover {
    text-decoration: underline;
    color: #444;
  }
}

.char {
  display: inline;
  
  .char-name {
    font-size: 1.2rem;
  }

  .char-desc {
    font-size: 0.8rem;
  }

  .char-info {
    font-size: 0.8rem;
    font-style: italic;
  }
}

.option {
  padding: 0.5em 10em;

  p {
    border: 0.1em #444 solid;
    border-radius: 5px;
    background: #e0e0e0;
    padding: 1em 0.5em;
    font-size: 1.5rem;
  }
}